<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-center shadow">
  <div class="container-fluid">
    <h1 class="mx-auto py-3 display-6 fw-bold text-white">
      Welcome to the Attendance Portal
    </h1>
  </div>
</nav>


<div class="mt-5">
  <div class="d-flex align-items-start">
    <div class="form-container me-4">
      <app-vacation-form></app-vacation-form>
    </div>
    <div class="separator"></div>
    <div class="list-container">
      <app-vacation-list></app-vacation-list>
    </div>
  </div>
</div>

