<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <input type="hidden" name="vacationDetailId" [value]="service.formData.id">

  <div class="mb-3">
    <label class="form-label">Type <span class="required-star">*</span></label>
    <select [(ngModel)]="selectedVacationType" class="form-select mb-3" aria-label="vacation select"
            name="vacationSelect" required (change)="onVacationTypeChange()">
      <option value="">Select vacation type</option>
      <option *ngFor="let t of service.vacationTypes" [ngValue]="t">{{ t.type }}</option>
    </select>

    <div *ngIf="form.submitted && !service.formData.vacationType" class="text-danger">
      Vacation type is required.
    </div>
  </div>

  <div class="row">
    <div class="mb-3 col-6">
      <label class="form-label">Vacation from date <span class="required-star">*</span></label>
      <input type="date" class="form-control" #vacationDateFrom="ngModel" name="vacationDateFrom"
             [(ngModel)]="service.formData.vacationDateFrom" (change)="validateDates()" required>
      <div *ngIf="form.submitted && vacationDateFrom.invalid" class="text-danger">
        Vacation from date is required.
      </div>
    </div>

    <div class="mb-3 col-6">
      <label class="form-label">Vacation to date <span class="required-star">*</span></label>
      <input type="date" class="form-control" #vacationDateTo="ngModel" name="vacationDateTo"
             [(ngModel)]="service.formData.vacationDateTo" (change)="validateDates()" required>
      <div *ngIf="form.submitted && vacationDateTo.invalid" class="text-danger">
        Vacation to date is required.
      </div>
    </div>
  </div>

  <div *ngIf="dateError" class="text-danger">
    The "to" date must be on or after the "from" date.
  </div>

  <div *ngIf="requiresReason">
    <label class="form-label">Reason <span class="required-star">*</span></label>
    <input type="text" class="form-control" #vacationReason="ngModel" name="vacationReason"
           [(ngModel)]="service.formData.vacationReason" required
           [ngClass]="{'is-invalid': form.submitted && (vacationReason.invalid || isOnlyWhitespace(vacationReason.value))}">
    <div *ngIf="form.submitted && (vacationReason.invalid || isOnlyWhitespace(vacationReason.value))"
         class="text-danger">
      Please provide a valid reason for the vacation. It cannot be empty or just whitespace.
    </div>
  </div>

  <button type="submit" class="btn btn-primary mt-3 btn-lg">
    Submit
  </button>
</form>
